<html>
  <head></head>
  <body>
{{ partial "sub_footer.html" . }}

{{ with .Site.Params.extra }}
{{ if .highlightjs }}
<!-- desactivadas 3 entradas de script siguientes
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  {{ range .highlightjslanguages }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{.}}.min.js"></script>
  {{ end }}

<script type="text/javascript">
hljs.initHighlightingOnLoad();
</script>
-->

<!--The following class is for generate a custom github ribbon -->

<a class="github-fork-ribbon right-top" href="https://alkzar.cl" data-ribbon="Home" title="Go to the home page">Go th the home page</a>

<script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>

<!--
<script src="//cdn.bootcss.com/highlight.js/9.12.0/languages/r.min.js"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/r.min.js"></script>

<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>

{{ end }}
{{ end }}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
    });
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
{{ template "_internal/google_analytics_async.html" . }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>